@model string

<div>
    @Html.Raw(Model)

    <img src="~/images/screenshot0.png" alt="Screenshot 0">
    <img src="~/images/screenshot1.png" alt="Screenshot 1">
    <img src="~/images/screenshot2.png" alt="Screenshot 2">

</div>
