@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<!-- The content of your specific view goes here -->


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>